[Unit]
Description=GoatCounter

[Service]
Type=simple
# If anything unexpected happens, Systemd will try to restart the program
Restart=always
# We need to send the absolute path of the database to GoatCounter.
ExecStart=__FINALPATH__ goatcounter serve -db sqlite3://__FINALPATH__/db/goatcounter.sqlite3 -listen :__PORT__ -tls none

[Install]
WantedBy=multi-user.target
