[Unit]
Description=GoatCounter
After=network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
ExecStart=goatcounter serve -db sqlite3://db/goatcounter.sqlite3 -listen :__PORT__ -tls none

[Install]
WantedBy=multi-user.target
